:root {
  --white-: #ffffff;
  --purple-1: #231234;
  --purple-2: #ac13cf;
  --purple-3: #7248cc;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 28px;
  --font-primary: "Public Pixel Font", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url("../resources/fonts/varelaround-Regular.ttf") format("woff2");

}
@font-face {
  font-family: "Public Pixel Font";
  src: url("../resources/fonts/public-pixel-font/PublicPixel-z84yD.ttf")
    format("woff2");
}

body {
  background-color: var(--purple-1);
  font-family: var(--font-secondary);
  color: var(--white-);
}
h1 {
  font-family: var(--font-primary);
  color: var(--white-);
  margin: 0 auto;
  padding: 20px;
  width: 1200PX;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px ;
  margin: 0 auto;
  padding: 10px;
}
.left-column {
  flex-basis: 50%;
  padding-right: 20px;
  margin-left: 0;

}
.right-column {
  flex-basis: 35%;
  margin-right: 20px;
}
.contact-form label {
  display: block;
  margin-bottom: 8px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent; 
  padding: 10px;

}
.contact-form textarea {
  resize: vertical;
}
.contact-form button {
  background-color: var(--purple-3);
  color: #fff;
  padding: 10px 20px;
  border: none ;
  cursor: pointer;
  border-radius: 5px;
}
